
XML Files/Star Systems/Blank Systems/2x3 System.xml
XML Files/Star Systems/Blank Systems/3x3 System.xml
XML Files/Star Systems/Blank Systems/3x4 System.xml
XML Files/Star Systems/Blank Systems/Jump Gate and Planet Code.xml
XML Files/Star Systems/sys temp.xml
